/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-www-ad-responsive {
	.ad-focused {
		outline: 3px dotted #50b5ff;
		z-index: 1000;
	}
}

.block-editor-block-inspector .wp-block-www-ad-responsive-controls {
	.cta-button-controls {
		padding: 1em;
	}

	.media-controls {
		padding: 0 1em;

		.components-placeholder.components-placeholder {
			min-height: initial;
		}
	}

	.variant-controls {
		padding: 0 1em;
	}

	.www-media-control {
		background-color: white;
	}

	.wpx--container-contents .www-media-control .wpx--container-control {
		border: 1px solid #e0e0e0;
	}

	.components-base-control {
		margin-bottom: 1em;
	}
}
