@import "variables";

.ad-btn {
	text-align: center;
	text-decoration: none !important;
	padding: 12px 24px;
	color: white !important;
	border-radius: 8px;
	display: inline-block;
	font-size: 16px;
}

.ad-btn:focus {
	text-decoration: none !important;
	box-shadow: none;
	outline: none;
}

.ad-btn-primary {
	background-color: $blue;
	&:hover {
		background-color: darken($blue, 10%);
	}
}

.ad-btn-dark {
	background-color: $black;
	&:hover {
		background-color: $blue;
	}
}

.ad-btn-white {
	background-color: $white;
	color: $black !important;
	&:hover {
		background-color: $black;
		color: $white !important;
	}
}

.ad-btn-link {
	padding: 0;
}
