$blue:        #2F80ED;
$indigo:      #6e00ff;
$purple:      #005FFE;
$pink:        #f074ad;
$red:         #f25767;
$orange:      #FFBE3D;
$yellow:      #ffc431;
$green:       #5cc9a7;
$teal:        #50b5ff;
$cyan:        #4bd6e5;
