/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "../_common/scss/variables";
@import "../_common/scss/btn";

.wp-block-www-ad-inline {
	border-radius: 15px;
    border: 1px solid #DAE8FF;
    background: #F1F6FF;
	background-size: cover;
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 40px;
    @media(max-width: 767px){
    	padding: 15px;
    	flex-direction: column;
    	gap: 15px;
    }
	&.variation-left {
		flex-direction: row-reverse;
	}

	.ad-main {
		flex: 1;
	    display: flex;
	    padding-right: 20px;

		.ad-content {
			h2 {
			    margin: 0 0 10px;
			    font-size: 28px;
			    line-height: 1.2;
			    font-weight: 700;
			    color: #005FFE;
			}

			h3 {
				margin: 0 0 22px;
			    font-size: 18px;
			    line-height: 1.2;
			    font-weight: 500;
			    color: rgba(0, 0, 0, 0.79);
			}
		}

	}

	.ad-img {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 1em;

		svg {
			height: 150px;
			width: 150px;
		}

		img {
			max-height: 150px;
		}
	}

	.ad-cta {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		@media(min-width: 480px){
			display: flex;
			width: fit-content;
		}
	}
}

